<!-- Nagiosxi -->
<div class="gridster">
  <ul>
   <li data-row="1" data-col="1" data-sizex="1" data-sizey="1">
     <div data-id="nagios_hosts_up" data-view="Number" data-title="Hosts Up" style="background-color:#96bf48;"></div>
     <i class="icon-ok icon-background"></i>
   </li>
   <li data-row="1" data-col="2" data-sizex="1" data-sizey="1">
     <div data-id="nagios_hosts_down" data-view="Number" data-title="Hosts Down" style="background-color:#ec663c;"></div>
     <i class="icon-remove icon-background"></i>
   </li>
   <li data-row="1" data-col="3" data-sizex="1" data-sizey="1">
     <div data-id="nagios_hosts_unreachable" data-view="Number" data-title="Hosts Unreachable" style="background-color:#ec663c;"></div>
     <i class="icon-question icon-background"></i>
   </li>
   <li data-row="1" data-col="4" data-sizex="1" data-sizey="1">
     <div data-id="nagios_hosts_pending" data-view="Number" data-title="Hosts Pending" style="background-color:#ccc;"></div>
     <i class="icon-question icon-background"></i>
   </li>

   <li data-row="2" data-col="1" data-sizex="1" data-sizey="1">
     <div data-id="nagios_services_ok" data-view="Number" data-title="Services OK" style="background-color:#96bf48;"></div>
     <i class="icon-ok icon-background"></i>
   </li>
   <li data-row="2" data-col="2" data-sizex="1" data-sizey="1">
     <div data-id="nagios_services_warning" data-view="Number" data-title="Services Warning" style="background-color:#ff9618;"></div>
     <i class="icon-remove icon-background"></i>
   </li>
   <li data-row="2" data-col="3" data-sizex="1" data-sizey="1">
     <div data-id="nagios_services_critical" data-view="Number" data-title="Services Critical" style="background-color:#ec663c;"></div>
     <i class="icon-remove icon-background"></i>
   </li>
   <li data-row="2" data-col="4" data-sizex="1" data-sizey="1">
     <div data-id="nagios_services_unknown" data-view="Number" data-title="Services Unknown" style="background-color:#ec663c;"></div>
     <i class="icon-question icon-background"></i>
   </li>
   <li data-row="2" data-col="5" data-sizex="1" data-sizey="1">
     <div data-id="nagios_services_pending" data-view="Number" data-title="Services Pending" style="background-color:#ccc;"></div>
     <i class="icon-question icon-background"></i>
   </li>
  </ul>
</div>
